* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}
/* Header started */
header {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  height: 93vh;
  background-size: cover;
  background-position: center;
  background-image: url("https://images.pexels.com/photos/1955134/pexels-photo-1955134.jpeg");
}
.wrapper {
  display: flex;
  flex-direction: column;
}
.nav-links {
  width: 100%;
  overflow: hidden;
}
.nav-links ul {
  transform: translateY(-100%);
  transition: 1s;
}

li {
  text-align: center;
  padding: 1vh;
}
#nav {
  opacity: 0;
}
.nav-links a {
  text-decoration: none;
  color: #fff;
}
.menu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.topbar {
  display: flex;
  align-items: center;
  margin: 0.7rem 1.4rem;
  justify-content: space-between;
}
.firstline {
  width: 2rem;
  height: 0.2rem;
  background-color: rgb(8, 8, 8);
  border-radius: 20px;
}
.menu .firstline {
  transition: 0.75s;
}
#nav {
  position: absolute;
  right: 0;
}
#nav:checked ~ .nav-links ul {
  background-color: rgba(255, 255, 255, 0.4);
